@using JobJabs.Entity;
@model JobJabs.ViewModel.VM_CandidateList

<link href="@Url.Content("~/Assets/ERP/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Assets/ERP/css/Custom.css")" rel="stylesheet" type="text/css" />

<style type="text/css">
    .jobmenu > .menu-link .menu-icon.svg-icon svg g [fill] {
        fill: #3699FF !important;
    }

    .jobmenu > .menu-link .menu-text {
        color: white !important;
    }
</style>

<!--begin::Card-->
<div class="card card-custom card-transparent">
    <div class="card-body p-0">
        <!--begin::Wizard-->
        <div class="wizard wizard-4" id="kt_wizard" data-wizard-state="step-first" data-wizard-clickable="true">
            <!--begin::Wizard Nav-->
            <div class="wizard-nav">
                <div class="wizard-steps">
                    <div class="wizard-step" data-wizard-type="step" onclick="window.location.href = '@(Url.Content("~/SPOCAdmin/JobPost"))';">
                        <div class="wizard-wrapper">
                            <div class="wizard-number">C</div>
                            <div class="wizard-label">
                                <div class="wizard-title">Job Post & Candidate</div>
                                <div class="wizard-desc">Job Post With Candidate Information</div>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                        <div class="wizard-wrapper">
                            <div class="wizard-number">C</div>
                            <div class="wizard-label">
                                <div class="wizard-title">All Candidate</div>
                                <div class="wizard-desc">All Candidate Assigned Information</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Wizard Nav-->
            <!--begin::Card-->
            <div class=" card-custom card-shadowless rounded-top-0" style="margin-top:20px; ">
                <!--begin::Body-->
                <div class="card-body p-0">
                    <div class="row justify-content-center ">
                        <div class="col-xl-12 col-xxl-10">
                            <div class="table1main">
                                <div class="theader">
                                    <span class="tspan"> List Of Candidate For @Model.JobTitle</span>
                                </div>
                                <div class="tbody">
                                    <!--begin::Wizard Form-->
                                    <table id="myTable">
                                        <thead>
                                            <tr>
                                                <th>Franchise  <br />Recruiter </th>
                                                <th>Name <br />Location<br /> Phone Number <br /> Email</th>
                                                <th> Current Company <br /> Current Position <br />Current CTC</th>
                                                <th>Total Experience <br />Notice Period</th>
                                                <th>Status</th>
                                                <th style="width:100px;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.CandidateList.CandidateDetail.Count > 0)
                                            {
                                                foreach (JobPostCandidateDetail candidate in Model.CandidateList.CandidateDetail)
                                                {
                                            <tr>
                                                <td>@candidate.FranchiseName <br /> @candidate.RecruiterName</td>
                                                <td> <a target="_blank" href="@(Url.Content(ConfigSetting.ResumeFilePath + candidate.CandidateId + "/" + candidate.ResumeFileName))"> @candidate.FullName</a>
                                                      <br /> @candidate.Location <br />
                                                            @candidate.PhoneNumber<br />@candidate.Email</td>
                                                <td>@candidate.CurrentCompany <br />@candidate.CurrentPosition <br />@candidate.CurrentCTC</td>
                                                <td>@candidate.TotalExperience <br />@candidate.NoticePeriodText</td>

                                                <td class="text-center" style="width:70px;">
                                                    @if (candidate.JPCAStatus == 0)
                                                    {
                                                        <span class="label label-lg label-light-warning label-inline">New</span>
                                                    }
                                                    else if (candidate.JPCAStatus == 1)
                                                    {
                                                        <span class="label label-lg label-light-success label-inline">Selected</span>
                                                    }
                                                    else if (candidate.JPCAStatus == 2)
                                                    {
                                                        <a class="commentpopup" href="@(Url.Content("~/Common/GetComments?sts=2&" + candidate.JPCLink))">
                                                            <span class="label label-lg label-light-danger label-inline">Rejected</span>
                                                        </a>
                                                    }
                                                    else if (candidate.JPCAStatus == 3)
                                                    {
                                                        <a class="commentpopup" href="@(Url.Content("~/Common/GetComments?sts=3&" + candidate.JPCLink))">
                                                            <span class="label label-lg label-light-danger label-inline">On Hold</span>
                                                        </a>

                                                    }
                                                </td>
                                                <td>
                                                    @if (candidate.JPCAStatus == 0 || candidate.JPCAStatus == 2 || candidate.JPCAStatus == 3)
                                                    {
                                                        <a href="@(Url.Content("~/SPOCAdmin/ChangeCandidateStatus?sts=1&" + candidate.JPCLink + "&title=" + CommonClass.ConvertTitle(Model.JobTitle)))" class="btn btn-icon btn-light btn-hover-primary btn-sm">
                                                            <span title="Selected" class="svg-icon svg-icon-md svg-icon-primary">
                                                                <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/General/Settings-1.svg-->
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                                        <path d="M7,3 L17,3 C19.209139,3 21,4.790861 21,7 C21,9.209139 19.209139,11 17,11 L7,11 C4.790861,11 3,9.209139 3,7 C3,4.790861 4.790861,3 7,3 Z M7,9 C8.1045695,9 9,8.1045695 9,7 C9,5.8954305 8.1045695,5 7,5 C5.8954305,5 5,5.8954305 5,7 C5,8.1045695 5.8954305,9 7,9 Z" fill="#000000"></path>
                                                                        <path d="M7,13 L17,13 C19.209139,13 21,14.790861 21,17 C21,19.209139 19.209139,21 17,21 L7,21 C4.790861,21 3,19.209139 3,17 C3,14.790861 4.790861,13 7,13 Z M17,19 C18.1045695,19 19,18.1045695 19,17 C19,15.8954305 18.1045695,15 17,15 C15.8954305,15 15,15.8954305 15,17 C15,18.1045695 15.8954305,19 17,19 Z" fill="#000000" opacity="0.3"></path>
                                                                    </g>
                                                                </svg>
                                                                <!--end::Svg Icon-->
                                                            </span>
                                                        </a>
                                                    }
                                                    @if (candidate.JPCAStatus == 0 || candidate.JPCAStatus == 1 || candidate.JPCAStatus == 3)
                                                    {
                                                        <a href="javascript:void('0')" onclick="OpenCSPopup(2, @candidate.JobPostId,@candidate.CandidateId,@candidate.FranchiseId,@candidate.RecruiterId, @candidate.JPCAStatus)" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3">
                                                            <span title="Rejected" class="svg-icon svg-icon-md svg-icon-primary">
                                                                <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/General/Trash.svg-->
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                                        <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero"></path>
                                                                        <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"></path>
                                                                    </g>
                                                                </svg>
                                                                <!--end::Svg Icon-->
                                                            </span>
                                                        </a>
                                                    }
                                                    @if (candidate.JPCAStatus == 0 || candidate.JPCAStatus == 1 || candidate.JPCAStatus == 2)
                                                    {
                                                        <a href="javascript:void('0')" onclick="OpenCSPopup(3, @candidate.JobPostId,@candidate.CandidateId,@candidate.FranchiseId,@candidate.RecruiterId, @candidate.JPCAStatus)" class="btn btn-icon btn-light btn-hover-primary btn-sm ">
                                                            <span title="On Hold" class="svg-icon svg-icon-md svg-icon-primary">
                                                                <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/General/Attachment2.svg-->
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                                        <path d="M11.7573593,15.2426407 L8.75735931,15.2426407 C8.20507456,15.2426407 7.75735931,15.6903559 7.75735931,16.2426407 C7.75735931,16.7949254 8.20507456,17.2426407 8.75735931,17.2426407 L11.7573593,17.2426407 L11.7573593,18.2426407 C11.7573593,19.3472102 10.8619288,20.2426407 9.75735931,20.2426407 L5.75735931,20.2426407 C4.65278981,20.2426407 3.75735931,19.3472102 3.75735931,18.2426407 L3.75735931,14.2426407 C3.75735931,13.1380712 4.65278981,12.2426407 5.75735931,12.2426407 L9.75735931,12.2426407 C10.8619288,12.2426407 11.7573593,13.1380712 11.7573593,14.2426407 L11.7573593,15.2426407 Z" fill="#000000" opacity="0.3" transform="translate(7.757359, 16.242641) rotate(-45.000000) translate(-7.757359, -16.242641)"></path>
                                                                        <path d="M12.2426407,8.75735931 L15.2426407,8.75735931 C15.7949254,8.75735931 16.2426407,8.30964406 16.2426407,7.75735931 C16.2426407,7.20507456 15.7949254,6.75735931 15.2426407,6.75735931 L12.2426407,6.75735931 L12.2426407,5.75735931 C12.2426407,4.65278981 13.1380712,3.75735931 14.2426407,3.75735931 L18.2426407,3.75735931 C19.3472102,3.75735931 20.2426407,4.65278981 20.2426407,5.75735931 L20.2426407,9.75735931 C20.2426407,10.8619288 19.3472102,11.7573593 18.2426407,11.7573593 L14.2426407,11.7573593 C13.1380712,11.7573593 12.2426407,10.8619288 12.2426407,9.75735931 L12.2426407,8.75735931 Z" fill="#000000" transform="translate(16.242641, 7.757359) rotate(-45.000000) translate(-16.242641, -7.757359)"></path>
                                                                        <path d="M5.89339828,3.42893219 C6.44568303,3.42893219 6.89339828,3.87664744 6.89339828,4.42893219 L6.89339828,6.42893219 C6.89339828,6.98121694 6.44568303,7.42893219 5.89339828,7.42893219 C5.34111353,7.42893219 4.89339828,6.98121694 4.89339828,6.42893219 L4.89339828,4.42893219 C4.89339828,3.87664744 5.34111353,3.42893219 5.89339828,3.42893219 Z M11.4289322,5.13603897 C11.8194565,5.52656326 11.8194565,6.15972824 11.4289322,6.55025253 L10.0147186,7.96446609 C9.62419433,8.35499039 8.99102936,8.35499039 8.60050506,7.96446609 C8.20998077,7.5739418 8.20998077,6.94077682 8.60050506,6.55025253 L10.0147186,5.13603897 C10.4052429,4.74551468 11.0384079,4.74551468 11.4289322,5.13603897 Z M0.600505063,5.13603897 C0.991029355,4.74551468 1.62419433,4.74551468 2.01471863,5.13603897 L3.42893219,6.55025253 C3.81945648,6.94077682 3.81945648,7.5739418 3.42893219,7.96446609 C3.0384079,8.35499039 2.40524292,8.35499039 2.01471863,7.96446609 L0.600505063,6.55025253 C0.209980772,6.15972824 0.209980772,5.52656326 0.600505063,5.13603897 Z" fill="#000000" opacity="0.3" transform="translate(6.014719, 5.843146) rotate(-45.000000) translate(-6.014719, -5.843146)"></path>
                                                                        <path d="M17.9142136,15.4497475 C18.4664983,15.4497475 18.9142136,15.8974627 18.9142136,16.4497475 L18.9142136,18.4497475 C18.9142136,19.0020322 18.4664983,19.4497475 17.9142136,19.4497475 C17.3619288,19.4497475 16.9142136,19.0020322 16.9142136,18.4497475 L16.9142136,16.4497475 C16.9142136,15.8974627 17.3619288,15.4497475 17.9142136,15.4497475 Z M23.4497475,17.1568542 C23.8402718,17.5473785 23.8402718,18.1805435 23.4497475,18.5710678 L22.0355339,19.9852814 C21.6450096,20.3758057 21.0118446,20.3758057 20.6213203,19.9852814 C20.2307961,19.5947571 20.2307961,18.9615921 20.6213203,18.5710678 L22.0355339,17.1568542 C22.4260582,16.76633 23.0592232,16.76633 23.4497475,17.1568542 Z M12.6213203,17.1568542 C13.0118446,16.76633 13.6450096,16.76633 14.0355339,17.1568542 L15.4497475,18.5710678 C15.8402718,18.9615921 15.8402718,19.5947571 15.4497475,19.9852814 C15.0592232,20.3758057 14.4260582,20.3758057 14.0355339,19.9852814 L12.6213203,18.5710678 C12.2307961,18.1805435 12.2307961,17.5473785 12.6213203,17.1568542 Z" fill="#000000" opacity="0.3" transform="translate(18.035534, 17.863961) scale(1, -1) rotate(45.000000) translate(-18.035534, -17.863961)"></path>
                                                                    </g>
                                                                </svg>
                                                                <!--end::Svg Icon-->
                                                            </span>
                                                        </a>
                                                    }
                                                </td>
                                            </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="6" style="padding: 50px 0% 50px 40%;color: red;">No record available.</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <!--end::Wizard Form-->
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card-->
        </div>
        <!--end::Wizard-->
    </div>
</div>
<!--end::Card-->
<!--start::PopUp-->
<div id="divCommentPopUp" class="modal modal-sticky-bottom-right show" role="dialog" data-backdrop="false" style="z-index:9999999;display:none;  padding-right: 17px;top: 100px !important" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--begin::Card-->
            <div class="card card-custom">
                <!--begin::Header-->
                <div class="card-header align-items-center px-4 py-3" style="position:relative">
                    <div class="text-center flex-grow-1">
                        <div class="text-dark-75 font-weight-bold font-size-h5" id="divPopUpHText" style="text-align: left;padding-left: 13px;"></div>
                    </div>
                    <div class="text-right flex-grow-1">
                        <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" onclick="CloseCSPopup();">
                            <i class="ki ki-close icon-1x"></i>
                        </button>
                    </div>
                    <div id="ValComment" style="left: 32%;width: 100%;position: absolute;top: 46px;display:none;">
                        <span class="field-validation-error" data-valmsg-for="LoginName" data-valmsg-replace="true"><span for="LoginName" generated="true" class="">Please enter comment</span></span>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Footer-->
                @using (Html.BeginForm("ChangeCandidateStatus", "SPOCAdmin", FormMethod.Post, new { @id = "frmChangeStatus" }))
                {
                    <div class="border-bottom: 1px solid #EBEDF3;">
                        <textarea class="form-control border-0 p-0" rows="5" placeholder="Write comment" id="Comment" name="Comment" onkeyup="CheckCommentIsNull()"
                                  style="margin: 19px 6%;width: 88%;"></textarea>

                    </div>
                    <div class="card-footer align-items-center">
                        <!--begin::Compose-->
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <button type="submit" onclick="return ValidateComment();" class="btn btn-primary btn-md text-uppercase font-weight-bold chat-send py-2 px-6">Submit</button>
                            </div>
                        </div>

                        @Html.Hidden("JPCAStatus")
                        @Html.Hidden("JobPostId")
                        @Html.Hidden("CandidateId")
                        @Html.Hidden("FranchiseId")
                        @Html.Hidden("RecruiterId")
                        @Html.Hidden("Title", CommonClass.ConvertTitle(Model.JobTitle))
                        <!--begin::Compose-->
                    </div>
                }
                <!--end::Footer-->
            </div>
            <!--end::Card-->
        </div>
    </div>
  
</div>
<!--end::PopUp-->
<script src="@Url.Content("~/Assets/ERP/Scripts/Vendor/jquery.dataTables.min.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

    function OpenCSPopup(sts, jobPostId, candidateId, franchiseId, recruiterId) {
        $("#JPCAStatus").val(sts);
        if (sts == 2) {
            $("#divPopUpHText").html("Reject Candidate");
        } else {
            $("#divPopUpHText").html("Make Candidate OnHold");
        }
        $("#JobPostId").val(jobPostId);
        $("#CandidateId").val(candidateId);
        $("#FranchiseId").val(franchiseId);
        $("#RecruiterId").val(recruiterId);
        $("#divCommentBG").show();
        $("#divCommentPopUp").show();
    }

    function CloseCSPopup() {
        $("#divCommentBG").hide();
        $("#divCommentPopUp").hide();
        $("#ValComment").hide();
        $("#Comment").val("");
    }

    function ValidateComment() {
        if ($.trim($('#Comment').val()).length == 0)
        {
            $("#ValComment").show();
            return false;
        }
        $("#ValComment").hide();
        return true;
    }

    function CheckCommentIsNull() {
        if ($.trim($('#Comment').val()).length == 0) {
            $("#ValComment").show();
        } else {
            $("#ValComment").hide();
        }
    }

</script>


