@using JobJabs.Entity;
@model JobJabs.ViewModel.VM_CandidateList

<link href="@Url.Content("~/Assets/ERP/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Assets/ERP/css/Custom.css")" rel="stylesheet" type="text/css" />

<style type="text/css">
    .jobmenu > .menu-link .menu-icon.svg-icon svg g [fill] {
        fill: #3699FF !important;
    }

    .jobmenu > .menu-link .menu-text {
        color: white !important;
    }
    #ui-datepicker-div{
        z-index:99 !important;
    }
  
    #divSelect {
        text-align: center;
            padding:20px;
    }
    #status {
        padding: 5px;
        width: 200px;
    }
    #divCommentText {
        display: none;
    }
    #divDatePicker{
        display:none;
        text-align:center;
        position:relative;
        padding-bottom:20px;
    }
   
    #StatusDate {
        width: 200px;
        padding:7px 10px;
    }
    .input-group-append {
        position: absolute;
        top: 0px;
        left: 62%;
        cursor:pointer;
    }
    #btnChangeStatus {
        padding-bottom: 0px;
        margin-bottom: 0px;
        text-align:right;
    }
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--begin::Card-->
<div class="card card-custom card-transparent">
    <div class="card-body p-0">
        <!--begin::Wizard-->
        <div class="wizard wizard-4" id="kt_wizard" data-wizard-state="step-first" data-wizard-clickable="true">
            <!--begin::Wizard Nav-->
            <div class="wizard-nav">
                <div class="wizard-steps">
                    <div class="wizard-step" data-wizard-type="step" onclick="window.location.href = '@(Url.Content("~/SPOCAdmin/JobPost"))';">
                        <div class="wizard-wrapper">
                            <div class="wizard-number">C</div>
                            <div class="wizard-label">
                                <div class="wizard-title">Job Post & Candidate</div>
                                <div class="wizard-desc">Job Post With Candidate Information</div>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                        <div class="wizard-wrapper">
                            <div class="wizard-number">C</div>
                            <div class="wizard-label">
                                <div class="wizard-title">All Candidate</div>
                                <div class="wizard-desc">All Candidate Assigned Information</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Wizard Nav-->
            <!--begin::Card-->
            <div class=" card-custom card-shadowless rounded-top-0" style="margin-top:20px; ">
                <!--begin::Body-->
                <div class="card-body p-0">
                    <div class="row justify-content-center ">
                        <div class="col-xl-12 col-xxl-10">
                            <div class="table1main">
                                <div class="theader">
                                    <span class="tspan"> List Of Candidate For @Model.JobTitle</span>
                                </div>
                                <div class="tbody">
                                    <!--begin::Wizard Form-->
                                    <table id="myTable">
                                        <thead>
                                            <tr>
                                                <th>Franchise  <br />Recruiter </th>
                                                <th>Name <br />Location<br /> Phone Number <br /> Email</th>
                                                <th> Current Company <br /> Current Position <br />Current CTC</th>
                                                <th>Total Experience <br />Notice Period</th>
                                                <th>Status</th>
                                                <th style="width:100px;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.CandidateList.CandidateDetail.Count > 0)
                                            {
                                                foreach (JobPostCandidateDetail candidate in Model.CandidateList.CandidateDetail)
                                                {
                                                    <tr>
                                                        <td>@candidate.FranchiseName <br /> @candidate.RecruiterName</td>
                                                        <td>
                                                            <a target="_blank" href="@(Url.Content(ConfigSetting.ResumeFilePath + candidate.CandidateId + "/" + candidate.ResumeFileName))"> @candidate.FullName</a>
                                                            <br /> @candidate.Location <br />
                                                            @candidate.PhoneNumber<br />@candidate.Email
                                                        </td>
                                                        <td>@candidate.CurrentCompany <br />@candidate.CurrentPosition <br />@candidate.CurrentCTC</td>
                                                        <td>@candidate.TotalExperience <br />@candidate.NoticePeriodText</td>

                                                        <td class="text-center" style="width:70px;">
                                                            @if (candidate.JPCAStatus == 2 || candidate.JPCAStatus == 14)
                                                            {
                                                                <a class="commentpopup" href="@(Url.Content("~/Common/GetComments?sts=" + candidate.JPCAStatus + "&jpcaid=" + candidate.JPCAId))">
                                                                    <span class="label label-lg label-light-danger label-inline">@CommonClass.CandidateStatusText(candidate.JPCAStatus)</span>
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <span class="label label-lg label-light-success label-inline">@CommonClass.CandidateStatusText(candidate.JPCAStatus)</span>

                                                            }
                                                        </td>
                                                        <td>
                                                            <a href="javascript:void('0');" onclick="OpenCSPopup(@candidate.JPCAId)" class="btn btn-light-primary font-weight-bolder btn-sm">Action</a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="6" style="padding: 50px 0% 50px 40%;color: red;">No record available.</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <!--end::Wizard Form-->
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card-->
        </div>
        <!--end::Wizard-->
    </div>
</div>
<!--end::Card-->
<!--start::PopUp-->
<div id="divCommentPopUp" class="modal modal-sticky-bottom-right show" role="dialog" data-backdrop="false" style="z-index:99;display:none;  padding-right: 17px;top: 100px !important" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--begin::Card-->
            <div class="card card-custom" style="padding-bottom:30px;">
                <!--begin::Header-->
                <div class="card-header align-items-center px-4 py-3" style="position:relative">
                    <div class="text-center flex-grow-1">
                        <div class="text-dark-75 font-weight-bold font-size-h5" id="divPopUpHText" style="text-align: left;padding-left: 13px;">
                            @Model.JobTitle
                        </div>
                    </div>
                    <div class="text-right flex-grow-1">
                        <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" onclick="CloseCSPopup();">
                            <i class="ki ki-close icon-1x"></i>
                        </button>
                    </div>
                    <div id="ValComment" style="left: 32%;width: 100%;position: absolute;top: 46px;display:none;">
                        <span class="field-validation-error" data-valmsg-for="LoginName" data-valmsg-replace="true"><span for="LoginName" generated="true" class="" id="spanStsMessage">Please enter comment</span></span>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Footer-->
                @using (Html.BeginForm("ChangeCandidateStatus", "SPOCAdmin", FormMethod.Post, new { @id = "frmChangeStatus" }))
                {
                    <div class="border-bottom: 1px solid #EBEDF3;">
                        <div id="divSelect">
                            @Html.Partial("_StatusSelect", -1)
                        </div>
                        <div id="divDatePicker">
                            <input type="text" readonly value="@DateTime.Now.ToString("dd MMM yyyy")" id="StatusDate" name="statusDate" />
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <div id="divCommentText">
                            <textarea class="form-control" rows="5" placeholder="Write comment" id="Comment" name="Comment" onkeyup="CheckCommentIsNull()"
                                      style="margin: 19px 6%;width: 88%;"></textarea>
                        </div>
                    </div>
                    <div class="card-footer align-items-center" id="btnChangeStatus">
                        <!--begin::Compose-->
                        <button type="submit" onclick="return ValidateComment();" class="btn btn-primary btn-md text-uppercase font-weight-bold chat-send py-2 px-6">Submit</button>

                        @Html.Hidden("JPCAStatus")
                        @Html.Hidden("JPCAId")
                        <!--begin::Compose-->
                    </div>
                }
                <!--end::Footer-->
            </div>
            <!--end::Card-->
        </div>
    </div>

</div>
<!--end::PopUp-->
<script src="@Url.Content("~/Assets/ERP/Scripts/Vendor/jquery.dataTables.min.js")"></script>
<script type="text/javascript">
    var cStatus = 0;
    $(document).ready(function () {
        $('#myTable').DataTable();
        $("#StatusDate").datepicker({ dateFormat: 'dd MM yy' });
        $('.input-group-append').on('click', function () {
           $('#StatusDate').datepicker('show');
        });
        $('#status').on('change', function () {
            cStatus = $(this).val();
            if (cStatus == -1) {
                HideControl()
            }
            else {
                $('#btnChangeStatus').show();
                $("#JPCAStatus").val(cStatus);
                if (cStatus == 2) {
                    $("#divCommentText").show();
                } else {
                    $("#divCommentText").hide();
                }
                if (cStatus == 4 || cStatus == 5 || cStatus == 6 || cStatus == 9 || cStatus == 10 || cStatus == 11) {
                    $("#divDatePicker").show();
                } else {
                    $("#divDatePicker").hide();
                }
            }
            //if (sts == 2) {
            //    $("#divPopUpHText").html("Reject Candidate");
            //} else {
            //    $("#divPopUpHText").html("Make Candidate OnHold");
            //}
        });
    });

    function OpenCSPopup(jpcaId) {
        HideControl();
        $("#JPCAId").val(jpcaId);
        $("#divCommentBG").show();
        $("#divCommentPopUp").show();
    }

    function CloseCSPopup() {
        $("#divCommentBG").hide();
        $("#divCommentPopUp").hide();
        HideControl();
    }

    function HideControl() {
        $("select#status").val('-1');
        $("#ValComment").hide();
        $("#divDatePicker").hide();
        $("#divCommentText").hide();
        $('#btnChangeStatus').hide();
        $("#Comment").val("");
        $("#spanStsMessage").val("");
    }

    function ValidateComment() {
        var retn = true;
        if (cStatus == 2) {
            if ($.trim($('#Comment').val()).length == 0) {
                $("#spanStsMessage").val("Please enter comment");
                $("#ValComment").show();
                retn = false;
            }
            $("#ValComment").hide();
        }
        if (cStatus == 4 || cStatus == 5 || cStatus == 6 || cStatus == 9 || cStatus == 10 || cStatus == 11) {
            if ($.trim($('#StatusDate').val()).length == 0) {
                $("#spanStsMessage").val("Please select date");
                $("#ValComment").show();
                retn = false;
            }
            $("#ValComment").hide();
        }
        return retn;
    }

    function CheckCommentIsNull() {
        if ($.trim($('#Comment').val()).length == 0) {
            $("#ValComment").show();
        } else {
            $("#ValComment").hide();
        }
    }



</script>


