@using JobJabs.Entity;
@model JobJabs.ViewModel.VM_AssignJobPostToFranchise
@{
    ViewBag.Title = "Assign JobPost To Franchise";
}
<style type="text/css">
    .jobmenu > .menu-link .menu-icon.svg-icon svg g [fill] {
        fill: #3699FF !important;
    }

    .jobmenu > .menu-link .menu-text {
        color: white !important;
    }
</style>
<!--begin::Card-->
<div class="card card-custom card-transparent">
    <div class="card-body p-0">
        <!--begin::Wizard-->
        <div class="wizard wizard-4" id="kt_wizard" data-wizard-state="step-first" data-wizard-clickable="true">
            <!--begin::Wizard Nav-->
            <div class="wizard-nav">
                <div class="wizard-steps">
                    <div class="wizard-step" data-wizard-type="step"  onclick="window.location.href = '@(Url.Content("~/JobPost"))';">
                        <div class="wizard-wrapper">
                            <div class="wizard-number">J</div>
                            <div class="wizard-label">
                                <div class="wizard-title">All Job Post</div>
                                <div class="wizard-desc">All Active Job Post Information</div>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-step" data-wizard-type="step" onclick="window.location.href = '@(Url.Content("~/JobPost/AddJobPost"))';">
                        <div class="wizard-wrapper">
                            <div class="wizard-number">A</div>
                            <div class="wizard-label">
                                <div class="wizard-title">Job Post Detail</div>
                                <div class="wizard-desc">Add Job Post Information</div>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                        <div class="wizard-wrapper">
                            <div class="wizard-number">S</div>
                            <div class="wizard-label">
                                <div class="wizard-title">Assign Franchise</div>
                                <div class="wizard-desc">Assign Franchise To Job Post</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Wizard Nav-->
            <!--begin::Card-->
            <div class="card card-custom card-shadowless rounded-top-0">
                <!--begin::Body-->
                <div class="card-body p-0">
                    <div class="row justify-content-center py-8 px-8 py-lg-7 px-lg-10">
                        <div class="col-xl-12 col-xxl-10">
                            <!--begin::Wizard Form-->
                            @using (Html.BeginForm("AssignFranchise", "JobPost", FormMethod.Post, new { @class = "form" }))
                            {

                                <div class="row justify-content-center">
                                    <div class="col-xl-11">
                                        <!--begin::Wizard Step 1-->
                                        <div class="my-5 step" data-wizard-type="step-content" data-wizard-state="current">
                                            <h5 class="text-dark font-weight-bold mb-5">
                                                <label class="col-xl-12 col-xxl-12 col-lg-12 col-md-12 col-sm-12">
                                                    Assign Franchise To Job Post : @(Model.Title)
                                                </label>

                                                <!--begin::Message-->
                                                @if (!string.IsNullOrEmpty(Model.Message))
                                                {
                                                    <label class="col-form-label col-xl-5 col-xxl-5 col-lg-5 col-md-12 col-sm-12" style="color:red;font-size: 12px !important;font-weight: 400 !important;text-align: center;">
                                                        @(Model.Message)
                                                    </label>
                                                }
                                                <!--end::Message-->

                                            </h5>
                                            <div class="border-top" style="padding-top:30px;padding-bottom:20px;">

                                                @if (Model.FranchiseList.Franchise.Count > 0)
                                                {
                                                    <!--begin::Group-->
                                                    <div class="form-group row">
                                                        <div class="col-lg-12 col-xl-12">
                                                            <div class="checkbox-inline">
                                                                @{ int j = 0; }
                                                                @foreach (CheckModel CheckBox in Model.FranchiseList.JPFranchiseCheckBox)
                                                                {
                                                                    <label class="checkbox checkbox-lg" style="margin-right:30px;">
                                                                        @if (CheckBox.Checked)
                                                                        {
                                                                            <input data-val="true" data-val-required="The Checked field is required." name="@Html.Raw("CheckBox[" + j + "].Checked")" checked="checked" type="checkbox" value="true" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <input data-val="true" data-val-required="The Checked field is required." name="@Html.Raw("CheckBox[" + j + "].Checked")" type="checkbox" value="true" />
                                                                        }
                                                                        <span></span>@(CheckBox.Name)
                                                                        <input name="@Html.Raw("CheckBox[" + j + "].Checked")" type="hidden" value="false">
                                                                        <input name="@Html.Raw("CheckBox[" + j + "].ParentId")" type="hidden" value="@(Model.JobPostId)">
                                                                        <input data-val="true" data-val-number="The field Id must be a number." data-val-required="The Id field is required." name="@Html.Raw("CheckBox[" + j + "].Id")" value="@(CheckBox.Id)" type="hidden" />
                                                                        <input name="@Html.Raw("CheckBox[" + j + "].Name")" value="@(CheckBox.Name)" type="hidden" />
                                                                    </label>
                                                                    { j = j + 1; }
                                                                }

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end::Group-->
                                                    <input name="title" type="hidden" value="@Model.Title">
                                                }
                                            </div>

                                        </div>
                                        <!--end::Wizard Step 1-->
                                        @if (Model.FranchiseList.Franchise.Count > 0)
                                        {
                                            <!--begin::Wizard Actions-->
                                            <div class="d-flex justify-content-between border-top pt-10">
                                                <div>
                                                    <button type="submit" style="display:inline !important" class="btn btn-success font-weight-bolder px-9 py-4" data-wizard-type="action-submit">Submit</button>
                                                </div>
                                            </div>
                                            <!--end::Wizard Actions-->
                                        }
                                    </div>
                                </div>

                            }

                            <!--end::Wizard Form-->
                        </div>
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card-->
        </div>
        <!--end::Wizard-->
    </div>
</div>
<!--end::Card-->
