@using JobJabs.Entity;
@model JobJabs.ViewModel.VM_AddNewCompanyLocation
@{
    ViewBag.Title = "Add Company Location";
}
<link href="@Url.Content("~/assets/ERP/css/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script type='text/javascript' src='@Url.Content("~/assets/ERP/Scripts/Vendor/jquery-ui.js")'></script>

<div class="card card-custom card-transparent">
    <div class="card-body p-0">
        <!--begin::Wizard-->
        <div class="wizard wizard-4" id="kt_wizard" data-wizard-state="step-first" data-wizard-clickable="true">
            <!--begin::Wizard Nav-->
            <div class="wizard-nav">
                <div class="wizard-steps">

                    <div class="wizard-step" data-wizard-type="step" onclick="window.location.href = '@(Url.Content("~/Company"))';">
                        <div class="wizard-wrapper">
                            <div class="wizard-number">C</div>
                            <div class="wizard-label">
                                <div class="wizard-title">Company Detail</div>
                                <div class="wizard-desc">Add Company Information</div>
                            </div>
                        </div>
                    </div>

                    <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                        <div class="wizard-wrapper">
                            <div class="wizard-number">L</div>
                            <div class="wizard-label">
                                <div class="wizard-title">@(Model.CompanyName)</div>
                                <div class="wizard-desc">Branch Office Information</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Wizard Nav-->
            <!--begin::Card-->
            <div class="card card-custom card-shadowless rounded-top-0">
                <!--begin::Body-->
                <div class="card-body p-0">
                    <div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
                        <div class="col-xl-12 col-xxl-10">
                            <!--begin::Wizard Form-->
                            @using (Html.BeginForm("AddCompanyLocation", "Company", FormMethod.Post, new { @class = "form" }))
                            {

                                <div class="row justify-content-center">
                                    <div class="col-xl-9">
                                        <!--begin::Wizard Step 1-->
                                        <div class="my-5 step" data-wizard-type="step-content" data-wizard-state="current">
                                            <h5 class="text-dark font-weight-bold mb-10">@Model.CompanyName Branch Office Detail:</h5>
                                            <!--begin::Group-->
                                            @if (!string.IsNullOrEmpty(Model.Message))
                                            {
                                                <div class="form-group row" style="text-align: center;margin-top: -20px;">
                                                    <label class="col-xl-12 col-lg-12 col-form-label" style="color:red;">@(Model.Message)</label>
                                                </div>
                                            }
                                            <!--end::Group-->
                                            <!--begin::Group-->
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Branch Location</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    @Html.TextBoxFor(r => r.CompLocDetail.Location, new { @class = "form-control form-control-solid form-control-lg" })
                                                    @Html.ValidationMessageFor(r => r.CompLocDetail.Location)
                                                    @Html.HiddenFor(r => r.CompLocDetail.CompanyId)
                                                    @Html.HiddenFor(r => r.CompLocDetail.CompLocId)
                                                </div>
                                            </div>
                                            <!--end::Group-->
                                            <!--begin::Group-->
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">HR Name</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    @Html.TextBoxFor(r => r.CompLocDetail.HRName, new { @class = "form-control form-control-solid form-control-lg" })
                                                    @Html.ValidationMessageFor(r => r.CompLocDetail.HRName)
                                                </div>
                                            </div>
                                            <!--end::Group-->
                                            <!--begin::Group-->
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">HR DOB</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    <input type="text" id="datepicker" class = "form-control form-control-solid form-control-lg datepicker" />
                                                    @Html.HiddenFor(r => r.CompLocDetail.DOB, new { @class = "form-control form-control-solid form-control-lg dtalternate" })
                                                    @Html.ValidationMessageFor(r => r.CompLocDetail.DOB)
                                                </div>
                                            </div>
                                            <!--end::Group-->
                                            <!--begin::Group-->
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Mobile Number</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    @Html.TextBoxFor(r => r.CompLocDetail.CompLocPhone1, new { @class = "form-control form-control-solid form-control-lg" })
                                                    @Html.ValidationMessageFor(r => r.CompLocDetail.CompLocPhone1)
                                                </div>
                                            </div>
                                            <!--end::Group-->
                                            <!--begin::Group-->
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Altername Mobile Number</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    @Html.TextBoxFor(r => r.CompLocDetail.CompLocPhone2, new { @class = "form-control form-control-solid form-control-lg" })
                                                    @Html.ValidationMessageFor(r => r.CompLocDetail.CompLocPhone2)
                                                </div>
                                            </div>
                                            <!--end::Group--> <!--begin::Group-->
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">EmailId</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    @Html.TextBoxFor(r => r.CompLocDetail.CompLocEmail, new { @class = "form-control form-control-solid form-control-lg" })
                                                    @Html.ValidationMessageFor(r => r.CompLocDetail.CompLocEmail)
                                                </div>
                                            </div>
                                            <!--end::Group-->
                                            <!--begin::Group-->
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label"> Address Line 1</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    @Html.TextBoxFor(r => r.CompLocDetail.Address1, new { @class = "form-control form-control-solid form-control-lg" })
                                                    @Html.ValidationMessageFor(r => r.CompLocDetail.Address1)
                                                </div>
                                            </div>
                                            <!--end::Group-->
                                            <!--begin::Group-->
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label"> Address Line 2</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    @Html.TextBoxFor(r => r.CompLocDetail.Address2, new { @class = "form-control form-control-solid form-control-lg" })
                                                    @Html.ValidationMessageFor(r => r.CompLocDetail.Address2)
                                                </div>
                                            </div>
                                            <!--end::Group-->
                                            <!--begin::Group-->
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label"> Location</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    @Html.TextBoxFor(r => r.CompLocDetail.Area, new { @class = "form-control form-control-solid form-control-lg" })
                                                    @Html.ValidationMessageFor(r => r.CompLocDetail.Area)
                                                </div>
                                            </div>
                                            <!--end::Group-->
                                            <!--begin::Group-->
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label"> Pincode</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    @Html.TextBoxFor(r => r.CompLocDetail.Pincode, new { @class = "form-control form-control-solid form-control-lg" })
                                                    @Html.ValidationMessageFor(r => r.CompLocDetail.Pincode)
                                                </div>
                                            </div>
                                            <!--end::Group-->
                                            <!--begin::Group-->
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label"> City</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    @Html.TextBoxFor(r => r.CompLocDetail.City, new { @class = "form-control form-control-solid form-control-lg" })
                                                    @Html.ValidationMessageFor(r => r.CompLocDetail.City)
                                                </div>
                                            </div>
                                            <!--end::Group-->
                                            <!--begin::Group-->
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label"> State</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    @Html.TextBoxFor(r => r.CompLocDetail.State, new { @class = "form-control form-control-solid form-control-lg" })
                                                    @Html.ValidationMessageFor(r => r.CompLocDetail.State)
                                                </div>
                                            </div>
                                            <!--end::Group-->

                                        </div>
                                        <!--end::Wizard Step 1-->
                                        <!--begin::Wizard Actions-->
                                        <div class="d-flex justify-content-between border-top pt-10 mt-15">
                                            <div>
                                                <button type="submit" style="display:inline !important" class="btn btn-success font-weight-bolder px-9 py-4" data-wizard-type="action-submit">Submit</button>
                                            </div>
                                        </div>
                                        <!--end::Wizard Actions-->
                                    </div>
                                </div>
                                @Html.HiddenFor(r => Model.CompanyName)

                            }

                            <!--end::Wizard Form-->
                        </div>
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card-->
        </div>
        <!--end::Wizard-->
    </div>
</div>
<!--end::Card-->
<script type="text/javascript">
    $(function ($) {
        $(".datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'd MM, yy',
            altField: ".dtalternate",
            altFormat: "mm/dd/yy",
            yearRange: '1970:' + (new Date).getFullYear()         
        });
        $('.datepicker').datepicker("setDate", new Date('@Model.CompLocDetail.DOB'));
    });
</script>