@using JobJabs.Entity;
@model JobJabs.ViewModel.VM_AddNewUser
@{
    ViewBag.Title = "Add SuperAdmin";
}

<!--begin::Card-->
<div class="card card-custom card-transparent">
    <div class="card-body p-0">
        <!--begin::Wizard-->
        <div class="wizard wizard-4" id="kt_wizard" data-wizard-state="step-first" data-wizard-clickable="true">
            <!--begin::Wizard Nav-->
            <div class="wizard-nav">
                <div class="wizard-steps">

                    <div class="wizard-step" data-wizard-type="step" data-wizard-state="@(Model.UserDetail.UserType==(int)CommonClass.enumUserType.SuperAdmin?"current":"")" onclick="window.location.href = '@(Url.Content("~/User?UserType=" +(int)CommonClass.enumUserType.SuperAdmin))';">
                        <div class="wizard-wrapper">
                            <div class="wizard-number">1</div>
                            <div class="wizard-label">
                                <div class="wizard-title">Super Admin</div>
                                <div class="wizard-desc">All Active Super Admin Information</div>
                            </div>
                        </div>
                    </div>


                    <div class="wizard-step" data-wizard-type="step" data-wizard-state="@(Model.UserDetail.UserType==(int)CommonClass.enumUserType.SPOCAdmin?"current":"")" onclick="window.location.href = '@(Url.Content("~/User?UserType=" +(int)CommonClass.enumUserType.SPOCAdmin))';">
                        <div class="wizard-wrapper">
                            <div class="wizard-number">2</div>
                            <div class="wizard-label">
                                <div class="wizard-title">SPOC</div>
                                <div class="wizard-desc">All Active SPOC Information</div>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-step" data-wizard-type="step" data-wizard-state="@(Model.UserDetail.UserType==(int)CommonClass.enumUserType.FranchiseAdmin?"current":"")" onclick="window.location.href = '@(Url.Content("~/User/FranchiseList"))';">
                        <div class="wizard-wrapper">
                            <div class="wizard-number">3</div>
                            <div class="wizard-label">
                                <div class="wizard-title">Franchise Admin</div>
                                <div class="wizard-desc">All Active Franchise Admin Information</div>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-step" data-wizard-type="step" data-wizard-state="@(Model.UserDetail.UserType==(int)CommonClass.enumUserType.FranchiseRecruiter?"current":"")" onclick="window.location.href = '@(Url.Content("~/User/RecruiterList"))';">
                        <div class="wizard-wrapper">
                            <div class="wizard-number">4</div>
                            <div class="wizard-label">
                                <div class="wizard-title">Recruiter</div>
                                <div class="wizard-desc"> All Active Recruiter Information</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Wizard Nav-->
            <!--begin::Card-->
            <div class="card card-custom card-shadowless rounded-top-0">
                <!--begin::Body-->
                <div class="card-body p-0">
                    <div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
                        <div class="col-xl-12 col-xxl-10">
                            <!--begin::Wizard Form-->
                            @using (Html.BeginForm("AddUser", "User", FormMethod.Post, new { @class = "form" }))
                            {

                                <div class="row justify-content-center">
                                    <div class="col-xl-9">
                                        <!--begin::Wizard Step 1-->
                                        <div class="my-5 step" data-wizard-type="step-content" data-wizard-state="current">
                                            <h5 class="text-dark font-weight-bold mb-10">@(CommonClass.UserTypeText(Model.UserDetail.UserType))'s Profile Details:</h5>
                                            <!--begin::Message-->
                                            @if (!string.IsNullOrEmpty(Model.Message))
                                            {
                                                <div class="form-group row" style="text-align: center;margin-top: -20px;">
                                                    <label class="col-xl-12 col-lg-12 col-form-label" style="color:red;">@(Model.Message)</label>
                                                </div>
                                            }
                                            <!--end::Message-->
                                            @if (Model.UserDetail.UserType == (int)CommonClass.enumUserType.FranchiseRecruiter)
                                            {
                                                <!--begin::Group-->
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Franchise</label>
                                                    <div class="col-lg-9 col-xl-9">
                                                        @Html.DropDownListFor(r => r.FranchiseId, new SelectList(Model.FranchiseList.FranchiseDetailDropDown, "Value", "Text", Model.FranchiseId))
                                                    </div>
                                                </div>
                                                <!--end::Group-->
                                            }
                                            <!--begin::Group-->
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Username</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    @Html.TextBoxFor(r => r.UserDetail.UserName, new { @class = "form-control form-control-solid form-control-lg" })
                                                    @Html.ValidationMessageFor(r => r.UserDetail.UserName)
                                                    @Html.HiddenFor(r => r.UserDetail.UserId)
                                                    @Html.HiddenFor(r => r.UserDetail.UserType)
                                                </div>
                                            </div>
                                            <!--end::Group-->
                                            <!--begin::Group-->
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">First Name</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    @Html.TextBoxFor(r => r.UserDetail.Firstname, new { @class = "form-control form-control-solid form-control-lg" })
                                                    @Html.ValidationMessageFor(r => r.UserDetail.Firstname)
                                                </div>
                                            </div>
                                            <!--end::Group-->
                                            <!--begin::Group-->
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Last Name</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    @Html.TextBoxFor(r => r.UserDetail.Lastname, new { @class = "form-control form-control-solid form-control-lg" })
                                                    @Html.ValidationMessageFor(r => r.UserDetail.Lastname)
                                                </div>
                                            </div>
                                            <!--end::Group-->
                                            <!--begin::Group-->
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Mobile Number</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    @Html.TextBoxFor(r => r.UserDetail.Phone1, new { @class = "form-control form-control-solid form-control-lg" })
                                                    @Html.ValidationMessageFor(r => r.UserDetail.Phone1)
                                                </div>
                                            </div>
                                            <!--end::Group-->
                                            <!--begin::Group-->
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Altername Mobile Number</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    @Html.TextBoxFor(r => r.UserDetail.Phone2, new { @class = "form-control form-control-solid form-control-lg" })
                                                    @Html.ValidationMessageFor(r => r.UserDetail.Phone2)
                                                </div>
                                            </div>
                                            <!--end::Group--> <!--begin::Group-->
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">EmailId</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    @Html.TextBoxFor(r => r.UserDetail.Email, new { @class = "form-control form-control-solid form-control-lg" })
                                                    @Html.ValidationMessageFor(r => r.UserDetail.Email)
                                                </div>
                                            </div>
                                            <!--end::Group-->
                                            <!--begin::Group-->
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Gender</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    <select name="UserDetail.GenderId" id="UserDetail.GenderId" class="form-control">
                                                        <option value="1">Male</option>
                                                        <option value="2">Female</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!--end::Group-->
                                            <!--end::Group-->
                                        </div>
                                        <!--end::Wizard Step 1-->
                                        <!--begin::Wizard Actions-->
                                        <div class="d-flex justify-content-between border-top pt-10 mt-15">
                                            <div>
                                                <button type="submit" style="display:inline !important" class="btn btn-success font-weight-bolder px-9 py-4" data-wizard-type="action-submit">Submit</button>
                                            </div>
                                        </div>
                                        <!--end::Wizard Actions-->
                                    </div>
                                </div>

                            }

                            <!--end::Wizard Form-->
                        </div>
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card-->
        </div>
        <!--end::Wizard-->
    </div>
</div>
<!--end::Card-->
